@value makerYellow, makerBrown, makerLightGrey from '../../common/colors.css';

.busNotice {
  width: 70%;
  margin: auto;
  margin-top: 2em;
}

.vehicleNoticeTitle {
  width: 70%;
  margin: auto;
  padding: 0.5em 1.8em;
  font-size: 1.1rem;
  background-color: makerYellow;
  border-top: 4px solid makerBrown;
  border-bottom: 4px solid makerBrown;
}

.Precaution {
  text-align: center;
  width: max-content;
  margin: auto;
  margin-bottom: 2em;
  padding: 0.5em 1em;
}

.subTitle {
  display: flex;
  justify-content: center;
  margin: 0 3em;
}

.smallBus,
.limousine,
.bigBus {
  width: 75%;
  margin: auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallBus {
  border-top: 3px solid makerBrown;
}

.bigBus {
  border-bottom: 3px solid makerBrown;
}

.busStyle {
  margin: auto;
}

.busDetail {
  width: 25;
  padding-left: 4em;
  text-align: start;
}