@value makerOrange, makerYellow, makerBrown, makerLightGrey, makerGrey from '../../common/colors.css';

.estimateList {
  width: 70%;
  margin: auto;
}

.dataListContainer {
  width: 75%;
  margin: auto;
}

.dataList {
  font-weight: bold;
  color: makerBrown;
  display: flex;
  justify-content: space-evenly;
  background-color: makerYellow;
  border-top: 2px solid makerBrown;
  border-bottom: 2px solid makerBrown;
  padding: 0.5rem 0;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.id,
.name {
  width: 50px;
  height: 20px;
}

.travelType {
  width: 70px;
  height: 20px;
}

.departPlace,
.arrivalPlace,
.vehicleType {
  width: 130px;
  height: 20px;
}

.createdDate {
  width: 80px;
  height: 20px;
}

.pageList {
  color: makerBrown;
  background-color: makerYellow;
  border-top: 2px solid makerBrown;
  border-bottom: 2px solid makerBrown;
  padding: 0.3rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevPageButton,
.nextPageButton {
  background-color: unset;
  border: none;
  color: makerBrown;
  font-size: 1rem;
}

.prevPageButton:hover,
.nextPageButton:hover {
  font-weight: bold;
  color: makerOrange;
}

@media screen and (max-width: 1024px) {
  .dataListContainer {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .dataListContainer {
    width: 100%;
  }

  .column {
    font-size: 10px;
  }
}