@value makerOrange, makerYellow, makerBrown from '../../common/colors.css';

.pageList {
  color: makerBrown;
  background-color: makerYellow;
  border-top: 2px solid makerBrown;
  border-bottom: 2px solid makerBrown;
  padding: 0.3rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevPageButton,
.nextPageButton {
  background-color: unset;
  border: none;
  color: makerBrown;
  font-size: 1rem;
}

.prevPageButton:hover,
.nextPageButton:hover {
  font-weight: bold;
  color: makerOrange;
}