@value makerWhite, makerOrange, makerLightGrey, makerYellow, makerBrown from '../../common/colors.css';

body {
  user-select: none;
}

input, select {
  border: 1px solid makerLightGrey;
  text-align: center;
  height: 1.5em;
}

select {
  margin-right: 1em;
}

input:focus, textarea:focus {
  outline: none;
}

p {
  margin: 0.3em 0;
  margin-right: 0.8em;
}

button {
  cursor: pointer;
}

.estimate {
  flex-basis: 50%;
}

.estimateBox {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.4em;
  margin-bottom: 0.6rem;
  margin-left: 1em;
  width: 9em;
  height: 1.8em;
  border-radius: 0.4em;
  border: none;
  background-color: makerOrange;
  color: makerWhite;
}

.data {
  display: flex;
  justify-content: center;
  background-color: makerYellow;
  border-radius: 1em;
}

.estimate_1,
.estimate_2 {
  flex: 1 1 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.8em;
  margin: auto;
  width: 80%;
}

.travel,
.name,
.phone,
.password,
.email,
.departPlace,
.departDate,
.arrivalDate,
.arrivalPlace,
.vehicle,
.vehicleNumber,
.stopPlace,
.memberCount,
.wayType,
.payment,
.taxBill,
.memo {
  display: flex;
  font-size: 0.9em;
  margin: 0;
  margin-bottom: 0.5em;
  align-items: center;
}

.travel,
.name,
.vehicle,
.vehicleNumber {
  margin-top: 0.5em;
}

.departDate,
.arrivalDate,
.departPlace,
.arrivalPlace,
.stopPlace,
.wayType,
.payment,
.taxBill,
.memo {
  flex-basis: 100%;
}

.vehicle, 
.vehicleNumber,
.travel,
.name,
.phone,
.password {
  flex: 1 1 45%;
}

.travelSelect,
.nameInput,
.passwordInput {
  width: 10em;
}

.passwordInput {
-webkit-text-security: disc;
}

.placeInput {
  width: 20em;
}

.travelSelect {
  width: 8em;
}

.placeSelect {
  width: 4.7em;
}

.departDateInput, 
.arrivalDateInput {
  width: 12em;
}

.memberCountInput {
  width: 2em;
  margin-right: 0.5rem;
}

.vehicleSelect {
  width: 10em;
}

.phoneSelect {
  margin: 0;
}

.phoneInput {
  width: 3.3em;
}

.hyphen {
  margin: 0 0.5em;
  margin-bottom: 0.3em;
}

.memoTextarea {
  height: 4em;
  width: 20em;
}

.requestButtonContainer {
  flex: 100%;
  text-align: end;
}

.requestButton {
  background-color: makerBrown;
  color: white;
  width: 8em;
  padding: 0.3em 0.5em;
  font-size: 1.3em;
  border-radius: 0.5em;
  border: none;
}

.requestButton:hover {
  opacity: 80%;
  font-weight: bold;
}

@media screen and (max-width:768px) {
  .data {
    flex-direction: column;
  }
}