@value makerWhite, makerOrange, makerBrown from '../../common/colors.css';

body {
  user-select: none;
}

input {
  text-align: center;
}

.estimate {
  width: 50%;
  margin-top: 2em;
}

.estimateBox {
  display: block;
  width: max-content;
  height: 1.5em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.6rem 1em;
  padding: 0.5rem;
  border-radius: 0.4em;
  border: none;
  background-color: makerOrange;
  color: makerWhite;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: unset;
  border-radius: 1em;
  padding: 0 1em;
  background-color: whitesmoke;
}

.requestButtonContainer {
  flex: 100%;
  text-align: center;
}

.requestButton {
  background-color: makerBrown;
  color: white;
  width: 10rem;
  height: 2.5rem;
  padding: 0.3rem 0.5rem;
  padding-top: 0.5rem;
  font-size: 20px;
  border-radius: 0.5em;
  border: none;
  transition: transform 250ms ease-in;
}

.requestButton:hover {
  opacity: 80%;
  font-weight: bold;
  transform: scale(1.02)
}

.viewMore {
  width: 100%;
  text-align: end;
  padding: 0;
  margin-bottom: 1em;
}

.moreButton {
  background-color: unset;
  border: none;
} 

@media screen and (max-width:1360px) {
  .data {
    flex-direction: column;
  }
}

@media screen and (max-width:890px) {
  .estimateBox {
    font-size: 0.9em;
  }
}

@media screen and (max-width:555px) {
  .estimateBox {
    font-size: 0.6em;
  }
}

