@value makerOrange from '../../common/colors.css';

.menu {
  flex: 1 1 20%;
  margin-left: 2em;
}

.container {
  width: 80%;
  height: 15em;
  border-right: 0.2em solid makerOrange;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 4em;
  padding-right: 1em;
}