@value makerBrown, makerLightGrey, makerOrange, makerYellow, makerBlack from '../../common/colors.css';
.requestEstimate {
  width: 70%;
  margin: auto;
  user-select: none;
}

.form {
  width: 75%;
  margin: auto;
}

.personalData,
.detailData {
  border-top: 4px solid makerBrown;
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.personalData1 {
  display: flex;
  margin: 0 1em;
  border-bottom: 2px solid makerLightGrey;
}

.personalData2 {
  display: flex;
  margin: 0 1em;
  border-bottom: 3px solid makerLightGrey;
}

.nameTitle,
.emailTitle,
.phoneTitle,
.passwordTitle,
.travelTitle,
.vehicleTitle,
.vehicleNumberTitle,
.memberCountTitle,
.departDateTitle,
.arrivalDateTitle,
.departPlaceTitle,
.arrivalPlaceTitle,
.stopPlaceTitle,
.wayTypeTitle,
.paymentTitle,
.taxBillTitle,
.memoTitle,
.detailDepartPlaceTitle,
.detailArrivalPlaceTitle {
  text-align: end;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-right: 1em;
  border-right: 2px solid makerBrown;
  color: makerBlack;
}

.travelTitle,
.vehicleTitle,
.vehicleNumberTitle,
.memberCountTitle,
.departDateTitle,
.arrivalDateTitle,
.stopPlaceTitle,
.wayTypeTitle,
.paymentTitle,
.taxBillTitle,
.memoTitle {
  width: 20%;
}

.nameTitle,
.emailTitle,
.phoneTitle,
.passwordTitle {
  width: 6em;
  text-align: end;
}

.name,
.email,
.phone,
.password{
  display: flex;
  flex-basis: 40%;
  align-items: center;
  text-align: end;
  width: max-content;
}

.email {
  padding-left: 3.3em;
}

.passwordInput {
  -webkit-text-security: disc;
}

.travel,
.vehicle,
.departDate,
.arrivalDate,
.stopPlace,
.wayType,
.payment,
.taxBill,
.memo,
.vehicleNumber,
.memberCount {
  display: flex;
  align-items: center;
  border-bottom: 2px solid makerLightGrey;
  margin: 0 1em;
}

.departPlaceContainer,
.arrivalPlaceContainer {
  display: flex;
  border-bottom: 2px solid makerLightGrey;
  margin: 0 1em;
}

.departPlace,
.arrivalPlace,
.detailDepartPlace,
.detailArrivalPlace {
  display: flex;
  align-items: center;
}

.departPlace,
.arrivalPlace {
  padding-left: 5.8em;
}

.vehicleNumber,
.memberCount,
.departPlace,
.arrivalPlace,
.detailDepartPlace,
.detailArrivalPlace {
  flex-basis: 40%;
}

.memo {
  border-bottom: 3px solid makerLightGrey;
}

.selectPhone {
  margin: 0;
}

.phoneNumber {
  width: 4.5em;
}

.hyphen {
  margin: 0.3em 0.5em;
}

.memoTextarea {
  height: 5em;
  width: 60%;
}

.detailEstimate {
  font-size: 1em;
  list-style: decimal;
  text-align: start;
  padding: 0;
}

.buttonEstimate {
  border: none;
  border-radius: 0.5em;
  background: linear-gradient(makerYellow, makerOrange);
  font-size: 1.5rem;
  padding: 0.2em 1.5em;
  color: makerBlack;
}

.buttonEstimate:hover {
  font-weight: bold;
  color: makerYellow;
}

.checkbox {
  cursor: pointer;
}