@value makerBrown, makerLightGrey from '../../common/colors.css';

.header {
  margin: 2rem;
  margin-bottom: 0;
}

.form {
  text-align: start;
}

.detailEstimate {
  font-size: 1rem;
  list-style: disc;
  color: makerBrown;
}

.personalData,
.detailDataContainer {
  display: flex;
  flex-direction: column;
  border-top: 3px solid makerBrown;
  border-bottom: 2px solid makerLightGrey;
  padding: 0.5em 0;
}

.personalDataContainer {
  margin: auto;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
}

.detailData {
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.travelContainer {
  margin-top: 15px;
  margin-bottom: 5px; 
}

.departContainer {
  margin-bottom: 5px;
}

.vehicleContainer {
  margin-bottom: 17px;
  display: flex;
}

.arrivalContainer {
  margin-bottom: 17px;
}