@value makerBrown, makerBlack, makerOrange from '../../common/colors.css';

.prevPageButton,
.nextPageButton {
  background-color: unset;
  border: none;
  color: makerBrown;
  font-size: 1rem;
}

.prevPageButton:hover,
.nextPageButton:hover {
  font-weight: bold;
  color: makerOrange;
}

.button {
  background-color: unset;
  border: none;
  color: makerBlack;
}

.button:hover {
  text-decoration: underline;
  font-weight: bold;
  color: makerOrange;
}