@value makerYellow, makerBrown, makerBlack from '../../common/colors.css';

.company {
  width: 70%;
  margin: auto;
  margin-bottom: 4em;
}

.shortContentContainer {
  margin: auto;
  width: 80%;
}

.shortContent {
  width: max-content;
  padding: 0.2em 0;
  padding-left: 1em;
  padding-right: 3em;
  margin-bottom: 2.5em;
  background-color: makerYellow;
  color: makerBrown;
  box-shadow: 2px 2px 5px 5px makerYellow;
  opacity: 60%;
}

.detail {
  background-color: makerYellow;
  color: makerBlack;
  opacity: 90%;
  padding: 1em 0.5em;
  width: 80%;
  border-radius: 2.5em;
  box-shadow: 5px 5px 10px 15px makerYellow;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.title {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.contents {
  width: 80%;
 text-align: left;
 display: flex;
 flex-direction: column;
 margin: auto;
}

.contentDetail {
  margin-bottom: 0.8em;
  width: 100%;
}

.ceo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ceoName {
  font-size: 1.3em;
}

@media screen and (max-width:1024px) {
  .sideMenu {
    display: none;
  }

  .mainDetail {
    flex-direction: 100%;
  }

  .contentDetail {
    font-size: 0.9em;
  }
}

@media screen and (max-width:920px) {
  .shortContent {
    font-size: 0.8em;
  }

  .title {
    font-size: 1.4em;
  }

  .contentDetail {
    font-size: 0.8em;
  }

  .ceoName {
    font-size: 1em;
  }
}