@value makerYellow, makerBrown from '../../common/colors.css';

.busNotice {
  width: 75em;
}

.main {
  display: flex;
  margin-left: 4rem;
}

.sideMenu {
  flex: 1 1 25%;
  margin: 0 auto;
}

.mainDetail {
  flex: 1 1 75%;
  padding: 0 3em;
}

.vehicleNoticeTitle {
  width: max-content;
  padding: 0.5em 1.8em;
  margin-left: 1em;
  font-size: 1.3em;
  background-color: makerYellow;
  border-top: 4px solid makerBrown;
  border-bottom: 4px solid makerBrown;
}

.subTitle {
  display: flex;
  justify-content: center;
  margin: 0 3em;
}

.busExteriorTitle,
.personnelTitle {
  flex: 1 1 50%;
}

.smallBus,
.limousine,
.bigBus {
  border-top: 3px solid makerBrown;
  border-bottom: 3px solid makerBrown;
  margin: 0 2em;
  margin-bottom: 1.5em;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busDetail {
  width: 40%;
  margin-left: 1.5em;
  text-align: start;
}

.Precaution {
  text-align: start;
  width: max-content;
  margin: 0 2em;
  padding: 0.5em 1em;
  background-color: makerYellow;
}