@value makerOrange, makerWhite, makerBrown from '../../../common/colors.css';
ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.2em 0.3em;
  font-size: 1.1em;
  width: max-content;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: makerOrange;
  user-select: none;
  width: 100%;
}

.detail {
  text-align: start;
  color: makerWhite;
  margin: 1.2em 1em;
}

.title {
  font-size: 1.8em;
  margin: 0;
}

.siteAddress {
  color: makerBrown;
  width: 100%;
  font-size: 1.1em;
}

.address {
  width: 90%;
  background-color: makerBrown;
  font-size: 1.1em;
  padding: 0.3em;
}

@media screen and (max-width:1024px) {
  .footer {
    font-size: 0.7em;
  }
}

@media screen and (max-width:720px) {
  .footer {
    flex-direction: column;
    justify-content: start;
  }

  .detail {
    flex: 50%;
    width: 100%;
    padding-left: 2em;
    margin: 1.2em 0;
  }
}

@media screen and (max-width:480px) {
  .footer {
    flex-direction: column;
    font-size: 0.5em;
    justify-content: start;
  }
}