@value makerYellow, makerBrown from '../../common/colors.css';

.smallBus {
  width: 70%;
  margin: auto;
}

.smallBusTitle {
  width: max-content;
  padding: 0.5em 1.8em;
  margin-left: 6em;
  font-size: 1.1rem;
  background-color: makerYellow;
  border-top: 4px solid makerBrown;
  border-bottom: 4px solid makerBrown;
}

.container {
  margin: 0 3em;
  padding: 1em 0;
}

.busDetail {
  text-align: start;
}

.busPersonnelDetail{
  text-align: end;
}

.busImageTitle {
  font-size: 1.2em;
  width: max-content;
  padding: 0.3em 0.5em;
  border-bottom: 4px solid makerBrown;
}
