@value makerYellow, makerPaleOrange, makerBrown, makerGreen, makerWhite, makerOrange from '../../common/colors.css';

h1 {
  margin: 0;
}

.main {
  width: 75%;
}

.mainImage {
  width: 90%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.contact {
  flex: 1 1 50%;
  width: 80%;
  background-color: makerYellow;
  justify-content: center;
  padding: 2rem 0.5rem;
  margin: 1em 0;
  border-radius: 0.5em;
  color: makerBrown;
}

.notice {
  flex: 1 1 50%;
  width: 80%;
  display: flex;
  background-color: makerPaleOrange;
  text-align: center;
  padding: 2rem 0.5rem;
  border-radius: 0.5em;
  margin: 0 1em;
}

.contactPhone,
.kakao {
  margin-bottom: 0.5em;
}

.contactPhone,
.kakao, 
.email {
  display: flex;
  align-items: center;
  margin: auto;
}

.contactPhoneIcon,
.emailIcon {
  color: makerBrown;
}

.phoneDetail {
  width: 100%;
  margin: 0;
  margin-left: 0.5rem;
  font-size: 1.5em;
}

.kakaoDetail, 
.emailDetail {
  width: 100%;
  font-size: 1.3em;
  margin: 0;
  margin-left: 0.8rem;
}

.serviceCenter, 
.account {
  flex-wrap: wrap;
  text-align: start;
  padding-left: 1em;
}

.serviceCenterTitle, 
.accountTitle {
  color: makerGreen;
  font-size: 1.4em;
  width: 100%;
}

.accountTitle {
  margin-bottom: 0.5em;
}

.serviceCenterNumber {
  font-size: 1.5em;
  font-weight: bold;
  color: #7A5E29;
}

.serviceCenterTime {
  font-size: 1.3em;
  color: #C27807;
}

.serviceCenterDetail,
.accountDetail {
  width: 100%;
  color: makerWhite;
}

.kbbankImg {
  background-color: #CA904C;
  box-shadow: 0 0 0.3em 0.3em #CA904C;
}

.accountNumber {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0;
  color: #C27807;
}


@media screen and (max-width:1024px) {
  .body,
  .info {
    flex-direction: column;
  }
}

@media screen and (max-width:480px) {
  .notice {
    flex-direction: column;
  }
  .contactPhone,
  .kakao,
  .email {
    flex-direction: column;
    margin: auto;
  }
}