.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    rgba(94, 94, 94, 0.4),
    rgba(255, 255, 255, 0.4)
  ), url('/public/image/main.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
