@value makerYellow, makerPaleOrange, makerBrown, makerGreen, makerWhite, makerOrange from '../../common/colors.css';

h1 {
  margin: 0;
}

.main {
  width: 75em;
}

.mainImage {
  width: 97%;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: flex;
  margin-top: 1em;
}

.contact {
  flex: 1 1 50%;
  background-color: makerYellow;
  text-align: center;
  padding: 2em 0;
  margin: 1em 0;
  border-radius: 0.5em;
  color: makerBrown;
}

.notice {
  flex: 1 1 50%;
  display: flex;
  background-color: makerPaleOrange;
  padding: 2em 0;
  border-radius: 0.5em;
  margin: 0 1em;
}

.contactPhone,
.kakao {
  margin-bottom: 0.5em;
}

.contactPhone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactPhoneIcon {
  color: makerBrown;
}

.phoneDetail {
  margin: 0;
  margin-left: 0.5em;
  font-size: 1.8rem;
}

.kakao, 
.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailIcon {
  color: makerBrown;
}

.kakaoDetail, 
.emailDetail {
  font-size: 1.5rem;
  margin: 0;
  margin-left: 0.8rem;
}

.serviceCenter, 
.account {
  flex-basis: 50%;
  text-align: start;
  padding-left: 1em;
}

.serviceCenterTitle, 
.accountTitle {
  color: makerGreen;
  font-size: 1.9rem;
}

.accountTitle {
  margin-bottom: 0.5em;
}

.serviceCenterNumber {
  font-size: 1.7rem;
  font-weight: bold;
  color: #7A5E29;
}

.serviceCenterTime {
  font-size: 1.3rem;
  color: #C27807;
}

.serviceCenterDetail {
  color: makerWhite;
}

.kbbankImg {
  background-color: #CA904C;
  box-shadow: 0 0 5px 5px #CA904C;
}

.accountNumber {
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 0;
  color: #C27807;
}

.accountDetail {
  color: makerWhite;
}

@media screen and (max-width:768px) {
  .body,
  .info {
    flex-direction: column;
  }
}