.estimateList {
  width: 70%;
  margin: auto;
}

.subHeader {
  width: 75%;
  height: 2em;
  background-color: var(--color-orange);
  border-radius: 0.5em;
  padding: 0.7em 0;
  margin: 1em auto 1.5em;
}

.title {
  width: max-content;
  text-align: start;
  margin: auto 0;
  padding-left: 1.5em;
  font-size: 1.5em;
  color: var(--color-white);
}

.dataListContainer {
  width: 75%;
  margin: auto;
}

.dataList {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  color: var(--color-brown);
  background-color: var(--color-yellow);
  border-top: 2px solid var(--color-brown);
  border-bottom: 2px solid var(--color-brown);
  padding: 0.5rem 0;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.id,
.name {
  width: 50px;
  height: 20px;
}

.travelType {
  width: 70px;
  height: 20px;
}

.departPlace,
.arrivalPlace,
.vehicleType {
  width: 130px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .subHeader{
    width: 90%;
  }

  .dataListContainer {
    width: 90%;
  }
}

@media screen and (max-width: 720px) {
  .subHeader{
    width: 100%;
  }

  .title {
    font-size: 1.2em;
  }

  .dataListContainer {
    width: 100%;
  }

  .column {
    font-size: 10px;
  }
}