.pageList {
  color: var(--color-brown);
  background-color: var(--color-yellow);
  border-top: 2px solid var(--color-brown);
  border-bottom: 2px solid var(--color-brown);
  padding: 0.3rem 0;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevPageButton,
.nextPageButton {
  background-color: unset;
  border: none;
  color: var(--color-brown);
  font-size: 1rem;
}

.prevPageButton:hover,
.nextPageButton:hover {
  font-weight: bold;
  color: var(--color-orange);
}