.myEstimateList{
  width: 70%;
  margin: auto;
}

.dataListContainer {
  width: 75%;
  margin: auto;
}

.dataList {
  font-weight: bold;
  color: var(--color-brown);
  display: flex;
  justify-content: space-evenly;
  background-color: var(--color-yellow);
  border-top: 2px solid var(--color-brown);
  border-bottom: 2px solid var(--color-brown);
  padding: 0.5rem 0;
}

.id,
.name,
.travelType,
.departPlace,
.arrivalPlace,
.vehicleType,
.createdDate {
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.id,
.name {
  width: 50px;
  height: 20px;
}

.travelType {
  width: 70px;
  height: 20px;
}

.departPlace,
.arrivalPlace,
.vehicleType {
  width: 130px;
  height: 20px;
}

.createdDate {
  width: 80px;
  height: 20px;
}

.pageList {
  color: var(--color-brown);
  background-color: var(--color-yellow);
  border-top: 2px solid var(--color-brown);
  border-bottom: 2px solid var(--color-brown);
  padding: 0.3rem 0;
  margin-bottom: 2rem;
}

.prevPageButton,
.nextPageButton {
  background-color: unset;
  border: none;
  color: var(--color-brown);
  font-size: 1rem;
}

.prevPageButton:hover,
.nextPageButton:hover {
  font-weight: bold;
  color: makerOrange;
}

.pageButton {
  background-color: unset;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: var(--color-brown);
}
