@value makerOrange, makerBlack, makerWhite, makerPaleOrange, makerYellow, makerLightYellow from '../../common/colors.css';

a {
  text-decoration: none;
  color: makerBlack;
}

button {
  cursor: pointer;
}

.header {
  user-select: none;
  margin-bottom: 2em;
}

.headerMyEstimate {
  text-align: end;
  border-top: 3px solid makerOrange;
}

.headerMyEstimateButton {
  background-color: unset;
  border: none;
  margin-right: 2em;
  font-size: 13px;
}

.navbar {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.logo {
  cursor: pointer;
  height: 4.5em;
  margin: 0 2em;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbarMenu,
.hiddenNavbarMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4em 0 4em;
  border-bottom: 0.5em solid makerOrange;
  margin-bottom: 0;
}

.introduce,
.busNotice,
.request,
.service {
  display: inline-block;
  font-size: 1.1em;
  width: 7rem;
  height: 2rem;
  position: relative;
}

.menuTitle:hover {
  color: makerOrange;
}

.dropdownMenu {
  font-size: 0.7em;
  display: none;
  position: absolute;
  background-color: makerLightYellow;
  padding: 0.5rem 0;
  top: 38px;
}

.dropdownMenu:hover {
  color: makerOrange;
}

.subMenuContainer {
  width: 7rem;
  text-align: center;
}

.subMenu:hover {
  color: makerOrange;
}

.introduce:hover>.dropdownMenu,
.busNotice:hover>.dropdownMenu,
.request:hover>.dropdownMenu,
.service:hover>.dropdownMenu {
  display: block;
}

.toggle {
  display: none;
  position: absolute;
  top: 55px;
  right: 15px;
  background-color: makerOrange;
  color: makerWhite;
  border: none;
  border-radius: 0.3rem;
  font-size: 25px;
}

.toggle:hover {
  background-color: makerPaleOrange;
}

@media screen and (max-width:768px) {
  .navbarMenu {
    display: none;
  }

  .hiddenNavbarMenu {
    flex-direction: column;
    padding: 0;
    border-bottom: none;
    border-left: 0.5em solid makerOrange;
  }

  .introduce,
  .busNotice,
  .request,
  .service {
    margin-left: 20px;
  }

  .dropdownMenu {
    top: 0;
    left: 7.3rem;
  }

  .toggle {
    display: inline;
  }
}