@value makerOrange, makerBlack, makerWhite, makerPaleOrange, makerYellow from '../../common/colors.css';

a {
  text-decoration: none;
  color: makerBlack;
}

button {
  cursor: pointer;
}

.header {
  user-select: none;
  margin-bottom: 2em;
}

.headerNav {
  text-align: end;
  border-top: 3px solid makerOrange;
}

.headerNavButton {
  background-color: unset;
  border: none;
  margin-right: 2em;
  font-size: 13px;
}

.logo {
  cursor: pointer;
  height: 4.5em;
  margin: 0 2em;
}

.navbar {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.navbarMenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 4em 0.5em 4em;
  border-bottom: 0.5em solid makerOrange;
  margin-bottom: 0;
}

.menu {
  font-size: 1.1em;
  width: 100%;
}

.menu:hover {
  color: makerOrange;
  font-weight: bold;
}

.subNavbar {
  width: 100%;
  background-color: #fffacb91;
  opacity:0.8;
  margin: 0;
}

.subMenu {
  font-size: 0.8em;
}

.subMenu:hover {
  color: makerOrange;
}

.toggle {
  display: none;
  position: absolute;
  top: 55px;
  right: 40px;
  background-color: makerOrange;
  color: makerWhite;
  border: none;
  border-radius: 0.3rem;
  font-size: 25px;
}

.toggle:hover {
  background-color: makerPaleOrange;
}

@media screen and (max-width:868px) {
  .navbarMenu {
    display: none;
  }

  .toggle {
    display: inline;
  }
}