@value makerOrange from '../../common/colors.css';

.detailMenu {
  width: 100%;
  text-align: end;
}

.menu {
  font-size: 1.5em;
  color: makerOrange;
}

.menu:hover {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}