@value makerOrange from '../../common/colors.css';

button {
  cursor: pointer;
}

.subMenu {
  text-align: end;
  margin-right: 3em;
}

.subMenuButton {
  background-color: unset;
  border: none;
  margin: 0 0.8em;
}

.logoButton {
  background-color: unset;
  border: none;
}

.logo {
  cursor: pointer;
  height: 5em;
}

.header {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 0.5em solid makerOrange;
}

.menu {
  font-size: 1.3em;
  margin: 0 3em;
  background-color: unset;
  border: none;
}

.menu:hover {
  color: makerOrange;
  font-weight: bold;
}
