@value makerYellow, makerBrown, makerLightGrey, makerGrey from '../../common/colors.css';

.estimateList {
  width: 75em;
}

.main {
  display: flex;
  margin-left: 4rem;
}

.sideMenu {
  flex: 1 1 25%;
  margin: 0 auto;
}

.mainDetail {
  flex: 1 1 75%;
  padding: 0 3em;
}

.dataList {
  font-weight: bold;
  color: makerBrown;
  display: flex;
  justify-content: space-between;
  background-color: makerYellow;
  border-top: 2px solid makerBrown;
  border-bottom: 2px solid makerBrown;
  padding: 0.5rem;
}

.id,
.name,
.travelType,
.departPlace,
.arrivalPlace,
.vehicleType,
.createdDate {
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.id,
.name {
  width: 50px;
  height: 20px;
}

.travelType {
  width: 70px;
  height: 20px;
}

.departPlace,
.arrivalPlace,
.vehicleType {
  width: 130px;
  height: 20px;
}

.createdDate {
  width: 80px;
  height: 20px;
}

.pageList {
  color: makerBrown;
  background-color: makerYellow;
  border-top: 2px solid makerBrown;
  border-bottom: 2px solid makerBrown;
  padding: 0.3rem 0;
  margin-bottom: 2rem;
}

.pageButton {
  background-color: unset;
  border: none;
  font-size: 13px;
  font-weight: bold;
  color: makerBrown;
}